alembic==1.14.1
annotated-types==0.7.0
anyio==4.8.0
black==25.1.0
click==8.1.8
colorama==0.4.6
fastapi==0.115.8
greenlet==3.1.1
h11==0.14.0
idna==3.10
isort==6.0.0
joblib==1.4.2
Mako==1.3.9
MarkupSafe==3.0.2
mypy-extensions==1.0.0
nltk==3.9.1
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
psutil==6.1.1
psycopg2-binary==2.9.10
pydantic==2.10.6
pydantic-settings==2.7.1
pydantic_core==2.27.2
python-dotenv==1.0.1
regex==2024.11.6
shortuuid==1.0.13
sniffio==1.3.1
SQLAlchemy==2.0.38
starlette==0.45.3
taskipy==1.14.1
textblob==0.19.0
tomli==2.2.1
tqdm==4.67.1
typing_extensions==4.12.2
uvicorn==0.34.0
